<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Jireh</a>
        </div>
        <div class="collapse navbar-collapse" style="opacity:1">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="/" class="smoothScroll">HOME</a></li>
                <li><a href="/#about" class="smoothScroll">ABOUT</a></li>
                <li><a href="/#testimonial" class="smoothScroll">OUR TEAM</a></li>
                <li><a href="/#blog" class="smoothScroll">WORKS</a></li>
                <li><a href="/#contact" class="smoothScroll">CONTACT</a></li>
                //- <li><a href="/admin/login" class="smoothScroll">ADMIN</a></li>
            </ul>
        </div>

    </div>
</section>