<meta charset="utf-8">
<title>Jireh | #{title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" href="/temp/css/font-awesome.min.css">

<link rel="stylesheet" href="/temp/css/bootstrap.min.css">
<link rel="stylesheet" href="/temp/css/animate.min.css">
<link rel="stylesheet" href="/temp/css/font-awesome.min.css">
<link rel="stylesheet" href="/temp/css/owl.theme.css">
<link rel="stylesheet" href="/temp/css/owl.carousel.css">
<link rel="stylesheet" href="/temp/css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/ram6htf.css">

