<section class="profile">
<div  class="records">
    <h3> Dashboard

    </h3>
    <p>Statistics</p> 
    <div>

    <div class="marks">
        <h1 class="orange">#{teamlen || "loading..."}</h1>
        <p>Team</p>
    </div>
    <div class="marks">
        <h1 class="blue">#{adminlen || "loading..."}</h1>
        <p>Admin</p>
    </div>
    <div class="marks">
        <h1 class="orange">#{ contactlen || "loading..."}</h1>
        <p>Contact</p>
    </div>

</div>
</div>
<div class="info">
    <img class="profilepic" src="/images/admin.png" alt="">
    <p>Welcome! <br>
        <span class="fw">#{adminnme}</span> <br>     

    </p>

</div>

</section>