<div class="sidebar bg-darkblue">
    <object  data="icon/menu.svg"></object>
    <div>
        <p style="margin-botton:7%"><a href="/admin/admin-details" style="color:white">Admin Details</a></p>
        <p><a href="/admin/admin-team" style="color:white">Team</a></p>
        <p><a href="/admin/admin-arc" style="color:white">Architecture</a></p>
        <p><a href="/admin/admin-intr" style="color:white">Interiors</a></p>
        <p><a href="/admin/admin-strc" style="color:white">Structures</a></p>
        <p><a href="/admin/admin-contact" style="color:white">Contact</a></p>
        //- <object  data="icon/magnifying-glass.svg"></object>
        //- <object  data="icon/envelope.svg"></object>
        //- <object  data="icon/heart.svg"></object>
        //- <object  data="icon/gear.svg"></object>
    </div>
    <a href="/logout"><object  data="/adminTemp/icon/logout.svg"></object></a>
</div>