link(rel="stylesheet", href="/css/cookie_consent.css")
<div class="cookie-banner" style="display:block">
    <p>By using our website, you agree to our cookie policy
    </p>
    <button class="close">&times;</button>
</div>
script(src="/js/cookie_consent.js")