<!DOCTYPE html>
html(lang="en")
    include admin_head
    body
        <div class="wrapper">
            include admin_sidebar
            include admin_user
            //- include admin_details
            <section class="details">
                <div class="history" style="display:flex">
                    block content
                </div>
            </section>
        </div>
        include cookie_consent