<hr style=" border: 1.3px solid black">
<section id="about" class="parallax-section" style="margin-top:0; background-color:#bfced6; color:#000">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="/temp/images/about-img-1.jpg" class="img-responsive" alt="about img 1">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-des">
                    <h1>ABOUT US</h1>
                    <p>Thank you in advance for your valuable time. All of the below projects we worked ,was as a part of a team or studio. The collaborative nature of the projects were essential to their success. We have been a major contributor towards the BIM process of all projects that are showcased </p>
                </div>
            </div>

        </div>
    </div>
</section>
