<!DOCTYPE html>
html(lang="en")
    head
        
        include __head
        
    body

        include _navbar
        
        include banner

        include about

        include values

        include team 

        include works

        include interiors
        
        include structures

        include clients

        include contact

        //- block content

        include _footer
        <script src="/temp/js/jquery.js"></script>
        <script src="/temp/js/bootstrap.min.js"></script>
        <script src="/temp/js/smoothscroll.js"></script>
        <script src="/temp/js/jquery.nav.js"></script>
        <script src="/temp/js/jquery.parallax.js"></script>
        <script src="/temp/js/owl.carousel.min.js"></script>
        <script src="/temp/js/isotope.min.js"></script>
        <script src="/temp/js/wow.min.js"></script>
        <script src="/temp/js/counter.js"></script>
        <script src="/temp/js/custom.js"></script>
        script(src="/js/image-slide.js")