//- <hr style=" border: 1.3px solid black">
//- link(rel="stylesheet", href="/css/clients.css")
//- <section class="client parallax-section">
//-     <h1>OUR CLIENTS</h1>
//-     <div class="clients">
//-         img(src="/clients/image100.png", alt="" style="width:150px")
//-         img(src="/clients/image98.jpg", alt="" style="width:150px")
//-         img(src="/clients/image99.jpg", alt="" style="width:150px")
//-         img(src="/clients/image94.jfif", alt="" style="width:150px")
//-         img(src="/clients/image95.jfif", alt="" style="width:150px")
//-         img(src="/clients/image96.jfif", alt="" style="width:150px")
//-         img(src="/clients/image97.jfif", alt="" style="width:150px")
//-     </div>
//- </section>


