<!DOCTYPE html>
html(lang="en")
    head
        include __head
    body(style="height:70vh")    
        include _navbar

        a(href="/") 
            img(src="/images/404.jpg", alt="error-img" style="width:80%; margin-left:8%")

        include _footer