link(rel="stylesheet", href="/css/interiors.css")
//- <hr style=" border: 1.3px solid black">
<section id="about" class="parallax-section" style="padding:25px 0; color:#000">
    <div class="container">
        
        <h1 class="our-team"></h1>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about-des">
                    <h1>OUR INTERIOR WORKS</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo dolorem repellat minus ut vero! Aut nemo ducimus alias labore quo iure, necessitatibus accusamus ut, explicabo maiores ipsa, in debitis?</p>
                    <div class="col-md-6 col-sm-6" style="border:black 1.5px solid">
                        a(href="/interior-work") <input name="submit" type="submit" class="form-control" id="submit" value="Learn More">
                    </div>
                </div>
            </div>
        <div class="col-md-6 col-sm-12">
            <ul id="slides-i" style="margin-right:7%; margin-top:3%; ">
                <li class="slide-i showing-i"></li>
                <li class="slide-i"></li>
                <li class="slide-i"></li>
            </ul>
        </div>
            //- <div class="col-md-6 col-sm-12">
            //-     <img src="/temp/images/work.png" class="img-responsive" alt="about img 1" style="margin:5%">
            //- </div>

        </div>
    </div>
</section>
script(src="/js/interiors.js")


