link(rel="stylesheet", href="/css/image-slide.css")
//- <hr style=" border: 1.3px solid black">
<section id="about" class="paralla-section" style="padding:25px 0; height:600px ">
    <div class="container">

        <h1 class="our-team"></h1>
        <div class="row">
        <div class="col-md-6 col-sm-12">
            //- <div class="w3-content w3-section" style="margin-left:7%" >
            //-     <img class="mySlides" src="/images/structures/image24.jpg" style="width:450px">
            //-     <img class="mySlides" src="/images/structures/image25.jpg" style="width:450px">
            //-     <img class="mySlides" src="/images/structures/image70.png" style="width:450px">
            //- </div>
            <div id="slideshow">
                <div>
                    <img src="/images/structures/image24.jpg" style="width:400px; height:400px">
                </div>
                <div>
                    <img src="/images/structures/image25.jpg" style="width:400px; height:400px">
                </div>
                <div> 
                    <img class="mySlides" src="/images/structures/image70.png" style="width:400px; height:400px">
                </div>
            </div>
        </div>
        //- <div class="col-md-6 col-sm-12">
        //-     <img src="/temp/images/work.png" class="img-responsive" alt="about img 1" style="margin:5%">
        //- </div>
        <div class="col-md-6 col-sm-12" style="margin-left:-35px">
            <div class="about-des">
                <h1>OUR WORK ON STRUCTURES</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo dolorem repellat minus ut vero! Aut nemo ducimus alias labore quo iure, necessitatibus accusamus ut, explicabo maiores ipsa, in debitis?</p>
                <div class="col-md-6 col-sm-6" style="border:black 1.5px solid">
                    a(href="/structure-work") <input name="submit" type="submit" class="form-control" id="submit" value="Learn More">
                </div>
            </div>
        </div>

    </div>
    </div>
</section>

