<hr style=" border: 1.3px solid black">
<section id="testimonial" class="parallax-section" style="margin-top:0;background-color:#d9e1e2; color:#000">
    <div class='our-team'>
        <h1 class="values">Our Team</h1>
    </div>
    <div class="container">
        <div class="row">
            //- <!-- Service Owl Carousel section
            //- ================================================== -->
            <div id="owl-testimonial" class="owl-carousel">
                each el in team
                    <div class="item">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                img(src=`/uploads/team/${el.img}`, alt=`${el.img}`, class="img-responsive img-circle" srcset="" style="")
                                <h2>#{el.name} </h2>
                                <p> #{el.description}
                                </p>
                            </div>
                        </div>
                    </div>

                //- =========================================
                //- <div class="item">
                //-     <div class="row">
                //-         <div class="col-md-offset-2 col-md-8">
                //-             <img src="/temp/images/Sunitha Mani Koduru.png" class="img-responsive img-circle" alt="testimonial img">
                //-             <h2 style="color:white">Sunita Mani Koduru</h2>
                //-             <p>Has Bachelor of Technology in Civil Engineering. Over 18+ years of experience in field has a Comprehensive knowledge of Autodesk Software: Revit Structure  Revit Architecture Revit MEP Archi CAD VICO Navis Works AutoCAD 
                //-             </p>
                //-         </div>
                //-     </div>
                //- </div>
                //- <div class="item">
                //-     <div class="row">
                //-         <div class="col-md-offset-2 col-md-8">
                //-             <img src="/temp/images/Vidya D.PNG" class="img-responsive img-circle" alt="testimonial img">
                //-             <h2 style="color:white">Vidya D - BIM MANAGER</h2>
                //-             <p>Acquiring the Bachelor of Degree in Civil. Has 18+ years of experience worked with multiple Architects, Interior designers and Liaising with MEP consultant and BIM specialist has knowledge of software related to Autodesk and has strong technical skills.
                //-             </p>
                //-         </div>
                //-     </div>
                //- </div>
                //- <div class="item">
                //-     <div class="row">
                //-         <div class="col-md-offset-2 col-md-8">
                //-             <img src="/temp/images/Suchitra.PNG" class="img-responsive img-circle" alt="testimonial img">
                //-             <h2 style="color:white">Suchitra - PROJECT ARCHITECT </h2>
                //-             <p>Having a Bachelor’s Degree in Architecture from the KLETECH University, is a Fellow of the Council of Architecture. An Practicing Architect has 18+ years of experience has profound knowledge in field of interiors designing and Architecture and related BIM.
                //-             </p>
                //-         </div>
                //-     </div>
                //- </div>
            </div>
        </div>
    </div>
</section>