<hr style=" border: 1.3px solid black">
<div style="background-color:#dfc2c3; width:100%; margin-bottom:0; margin-top:0">
    <h1 class="values" style="margin-top:0; padding-top:5%"> OUR VALUES</h1>
<section class="cards-wrapper">
    <div class="card-grid-space">
        //- <!-- <div class="num">01</div> -->
<a class="card" href="/" style="--bg-img: url('/images/architect-1073608_1280.jpg')">
    <div class="card-des">
        <h1>BIM Empowers Owner</h1>
        <p style="font-size:13px">BIM improves the building quality. Significantly reduces building cost. Better understand design from beginning to end.Optizme the operational efficiencies. Increase occupancy and use rates. Throughout the project life cycle, produce better outcomes, reduce rework, lower risk. 
        </p>
        //- <div class="date">6 Oct 2017</div>
    //-  <!-- <div class="tags">
    //-  <div class="tag">HTML</div>
    //-  </div> -->
</div>
</a>
    </div>
    <div class="card-grid-space">
        //- <!-- <div class="num">02</div> -->
<a class="card" href="/" style="--bg-img: url('/temp/images/about-2.jpg')">
    <div class="card-des">
        <h1>Experts In Residence</h1>
        <p style="font-size:15px">Highly skilled Architects and engineers working in a collaborative environment to deliver a efficient and effective BIM output to the client .
        </p>
        //- <div class="date">9 Oct 2017</div>
    //-   <!-- <div class="tags">
        <div class="tag">HTML</div>
        </div> -->
    </div>
</a>
    </div>
    <div class="card-grid-space">
        //-   <!-- <div class="num"></div> -->
<a class="card" href="/" style="--bg-img: url('/images/construction-2682641_1280.jpg')">
    <div class="card-des" >
        <h1>What we do</h1>
        <p style="font-size:15px">We look at the BIM aspects of the building, not just as a virtual model but how it will impact construction process, management of the building and how it can help inform an owner of the space beyond our involvement in the BIM process
    </p>
        //- <div class="date">14 Oct 2017</div>
    //-   <!-- <div class="tags">
        <div class="tag">HTML</div>
        </div> -->
    </div>
</a>
    </div>
    //- <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>
</div>