link(rel="stylesheet", href="/css/image-slide.css")

//- <hr style=" border: 1.3px solid black">
<section id="blog" class="paralla-section" style="padding:25px 0; ">
    <div class="container">
        
        <h1 class="our-team"></h1>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="height:400px; margin-botton:7%; overflow:hidden">
                <div class="w3-content w3-section" style="margin-left:7%; padding:auto; width:250px" >
                    <img class="mySlides w3-animate-top" src="/images/arcWork/image20.jpg" style="width:400px; height:400px">
                    <img class="mySlides w3-animate-bottom" src="/images/arcWork/image23.jpg" style="width:300px; height:400px">
                    <img class="mySlides w3-animate-top" src="/images/arcWork/image36.JPG" style="width:300px; height:400px ">
                </div>
            </div>
            //- <div class="col-md-6 col-sm-12">
            //-     <img src="/temp/images/work.png" class="img-responsive" alt="about img 1" style="margin:5%">
            //- </div>
            <div class="col-md-6 col-sm-12" style="margin-left:-2%">
                <div class="about-des">
                    <h1>OUR ARCHITECTURAL WORK</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo dolorem repellat minus ut vero! Aut nemo ducimus alias labore quo iure, necessitatibus accusamus ut, explicabo maiores ipsa, in debitis?</p>
                    <div class="col-md-6 col-sm-6">
                       a(href="/architectural-work") <input name="submit" type="submit" class="form-control" id="submit" value="Learn More">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
script(src="/js/image-slide.js")
